@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap');

header.header {
    margin: 0;
}

body {
    background-color: #85B3D1FF;
}

.ui-menu-color-home {
    background-color: #2460a7;
}

.footer-download {
    background-color: #85B3D1FF;

}

.footer-social {
    background-color: #B3C7D6FF;

}

.footer-book {
    background-color: #85B3D1FF;
}

/*--------Navbar-------*/
.bg-light {
    background-color: #85B3D1FF !important;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    min-height: 60px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #f7f0e5;
    border: 2px solid #f7f0e5;
    border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #f7f0e5;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #f7f0e5;
}

.navbar-brand .logo-text {
    padding: 0;
    color: #f7f0e5;
    margin: 0;
}



.nav-item {
    padding: 0 25px;
}



/*---------------------------main image-------*/
.main h1 {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-style: italic;
    font-weight: 300;
    color: #f7f0e5;
    position: absolute;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}

.main {
    background-image: url("../images/streedagh-homepage-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    height: 500px;
}

.main .btn {
    position: absolute;
    top: 80%;
    left: 50%;
    height: 50px;
    width: 150px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #D9B48FFF;
    color: #f7f0e5;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.main .btn:hover {
    background-color: #85B3D1FF;
}

/*---------------------------What you can expect------*/

h2 {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-style: italic;
    font-weight: 300;
    color: #f7f0e5;
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.col-sm-6 {
    padding: 20px;

}

.group-image {
    background-image: url("../images/streedagh-homepage-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 3px solid #D9B48FFF;
    border-radius: 3px;
    position: relative;
    display: flex;
    height: 300px;
}

.logo-png {
    height: 60px;
    width: 100px;
}

.p-text {
    border: 3px solid #D9B48FFF;
    border-radius: 3px;
    position: relative;
    display: flex;
    height: 300px;
    text-align: center;
    display: block;
    color: rgb(48, 52, 83);
    font-family: 'Open Sans', sans-serif;


}

/*--------------------customer testamonials-----------*/
.customer-img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    border: 3px solid #D9B48FFF;
    display: flex;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.testimonials {
    height: 350px;
}

.testimonials p {
    text-align: center;
    padding: 20px;
    color: rgb(48, 52, 83);
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}


.about-image {
    background-image: url("../images/frieda-about.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 3px solid #D9B48FFF;
    border-radius: 3px;
    position: relative;
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    left: 20%;
}

/*---------------------------footer-------*/
.footer {
    color: rgb(48, 52, 83);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    min-height: 120px;
    padding-top: 20px;
    border: 3px solid #D9B48FFF;
    border-radius: 3px;

    ;

}

.footer i {
    padding: 15px;
    font-size: 30px;
    color: #f7f0e5;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer i:hover {
    color: #D9B48FFF;
}